.about-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 70px 10%;
  gap: 50px; 
}


.about-image-wrapper {
  position: relative;
  width: 45%; 
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1; 
  min-height: 400px;
  border-radius: 20px; 
  overflow: hidden;
}

.about-text {
  width: 55%; 
}

.about-tag {
  color: #6b7a90;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.about-title {
  font-size: 44px; 
  font-weight: 800;
  color: #0b1026;
  line-height: 1.2;
  margin-bottom: 30px;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
}

.highlight {
  background-color: #c8ffd5;
  border-radius: 8px;
  padding: 0 6px;
}

.about-desc {
  font-size: 18px;
  line-height: 1.7; 
  color: #4a4a4a;
  margin-bottom: 25px; 
}

.about-btn {
  margin-top: 20px;
  padding: 14px 28px;
  background-color: #274468; /* Azul primario */
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.about-btn:hover {
  background-color: #192e48;
}

.decor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #406882; 
  border-radius: 50%; 
  z-index: 1;
  opacity: 1;
}

.about-image {
  width: 100%;
  height: 100%; 
  position: relative;
  z-index: 3; 
  background-color: transparent;
  padding: 12%;
  
  border-radius: 50%; 
  box-shadow: none;
  
  object-fit: contain;
  aspect-ratio: auto;
}

.about-philosophy-section {
  background-color: #ffffff99; 
  padding: 50px 0; 
  color: #0b1026; 
}

.philosophy-inner {
  align-items: center; 
}

.philosophy-text {
  width: 55%; 
  padding-right: 50px;
}

.philosophy-title {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 25px;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif
}

.philosophy-intro {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.philosophy-list {
  list-style: none; 
  padding: 0;
}

.philosophy-list li {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

.philosophy-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 8px;
  height: 8px;
  background-color: #856f0044; 
  border-radius: 50%;
}

.philosophy-image-wrapper {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.philosophy-logo {
  max-width: 500px; 
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 50px;
}