.main-footer {
    background-color: #152d3f;
    color: #fff;
    padding: 30px 20px;
    width: 100%;
    margin-top: auto; 
}

.footer-content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 40px; 
    text-align: left; 
}

.footer-section {
    flex: 1; 
    min-width: 200px; 
}

/* Títulos de las secciones */
.footer-section h4 {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos para el texto de Contacto */
.footer-section.contact p {
    margin: 5px 0;
    line-height: 1.5;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-section a:hover {
    color: #fff;
}

/* Estilos de la lista de Enlaces */
.footer-section.links ul {
    list-style: none; 
    padding: 0;
}

.footer-section.links li {
    margin-bottom: 8px;
}

/* Estilos para los íconos de redes sociales */
.social-icons a {
    color: #fff;
    font-size: 24px; 
    margin-right: 15px; 
    transition: color 0.2s;
}

.social-icons a:hover {
    color: #aaa; 
}